<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title>한세 급식</title>
    </head>
    <body>
        <table>
            <thead>
                    <td>
                        <h1>이번 달 급식</h1>
                    </td>
                    <% for(let sum of menu) {%>
                        <% if (sum.lunch == "" ) { %>
                            
                        <% } else { %>
                        <tr> <td><%= sum.date %>일 (<%= day[--sum.date % 7] %>) </td></tr>
                        <td><pre><strong><%= sum.lunch %></strong></pre></td>
                    
                        <% } %>     
                    <% } %>
            </thead>    
            <tbody>
                
            </tbody>       
        </table>
    </body>
</html>